:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    font-weight: 500;
    color: #fff;
    text-decoration: inherit;
  }
  a:hover {
    color: #fff;
    font-weight: 500;
  }
  
  body {
    overflow: auto;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    animation: transitionIn 0.75s;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: medium;
    padding: 1rem;
  }
  
  button {
    border-radius: 16px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: .3rem;
  }
  button:hover {
    border-color: #40a4f7;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  @keyframes transitionIn  {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  #additionalButton {
    display: none;
  }
  
  #button:disabled + #additionalButton {
    display: inline;
  }

  #additionalButton {
    display: none;
    margin-top: 2rem;

    cursor: pointer;

  }
  #output {

    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in {
    opacity: 0;
  }

  #customBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #btnBack {
    padding: 1rem 2rem;
    align-items: center;
  }

  
  #customPopup {
    display: flex;
    flex-direction: row; /* เปลี่ยนจาก column เป็น row */
    justify-content: center; /* จัดให้ตรงกลางทั้งแนวตั้งและแนวนอน */
    align-items: center;
    text-align: center;
    box-shadow: 1rem 1rem 10rem rgba(100, 255, 255, 0.8);
    overflow: hidden;
    animation: changeColor 5s infinite alternate;
    border-radius: 2rem;
  }

  #customPopup {
    max-width: 1680px; /* ปรับขนาดของ container ตามที่ต้องการ */
    margin: 4rem auto; /* ให้ container อยู่กลางจอ */
  }
  
  #context-text {
    text-align: center; /* จัดให้ข้อความอยู่ทางซ้าย */
    padding: 10px; /* เพิ่ม padding เพื่อให้ข้อความห่างจากขอบต่างๆ */
    margin: 2rem;
  }
  
  #context-vdo {
    margin-right: 10px; /* กำหนดระยะห่างของวิดีโอจากข้อความด้านขวา */
    margin: 2rem;
    border-radius: 2rem;
  }

  @keyframes changeColor {
    0% {
      box-shadow: 0 0 10px rgba(100, 255, 255, 0.8);
    }
    25% {
      box-shadow: 0 0 10px rgba(255, 100, 255, 0.8);
    }
    50% {
      box-shadow: 0 0 10px rgba(255, 255, 100, 0.8);
    }
    75% {
      box-shadow: 0 0 10px rgba(100, 255, 100, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(100, 100, 255, 0.8);
    }
  }
  